name: Build and Deploy to GitHub Pages

on:
  push:
    branches:
      - "**"     # run on pushes from ANY branch
  schedule:
    - cron: "*/5 * * * *" # every 5 minutes
    # - cron: */5 18-23 * * 0 # Run every 5 minutes on Sunday between 1:00pm ET (18:00 UTC) and 6:59pm ET (23:59 UTC)
    # - cron: */5 0-4 * * 1 # Run every 5 minutes on Sunday 7:00pm (00:00 UTC Mon) 11:59pm ET (04:59 UTC Mon)
    # - cron: */5 1-4 * * 2,5 # Run every 5 minutes on Monday (01:00 UTC Tue to 04:59 UTC Tue) and Thursday (01:00 UTC Fri to 04:59 UTC Fri)
    # - cron: 0 7 * * * # Run once every day at 2am ET (7am UTC)

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Cache Python dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Generate index.html using Python
        # run: python generate_site.py
        run: python generate_matchup_table.py

      - name: Upload site artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: .  # includes index.html

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4
